body{
  text-align: center;
  background-color: white;
  font-size: 16px;
  background-image: url("afbeeldingen/burger.png");

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  font-size: 40px;
  background-color: white;
  border: solid black 1px;

}

.button:hover{
  background-color: gray;
}
.upgrade_button{
  font-size: 16px;
  background-color: white;
  border: solid black 1px;
  text-align: center;
  padding-top: 0px;
  height: 50px;
  width: 100px;
}

.burgerBanner{
  position: absolute;
  background-image: url("afbeeldingen/burger.png");
  height: 50px;
  width: 50px;
  bottom: 0;
}

.nonvisible{
  visibility: hidden;
}

.upgrade_button:hover{
  background-color:  blue;
  color: white;
}

.dropdown{
  display: none;
  position: absolute;
}

.upgrade_button:hover .dropdown{
  display: inline;
}

.gridcontainer{
  display: grid;
  grid-template-columns: auto auto;
  width: 100px;
}

#caloriePrice{
  visibility: hidden;
}
